* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

header {
    display: flex;
    background-color: #3D5774;
    width: 100%;
    position: fixed;
    z-index: 30;
    border-bottom: white solid 2px;
    justify-content: space-between;
}

.logo {
    display: flex;
    color: #F7A797;
    padding: 1rem 1.5rem;
    font-family: 'Fredoka', sans-serif;
    width: 20rem;
    float: left;
    margin:0;
}

nav {
    display: flex;
    float: right;
}

#small-screen-logo {
    color:#F7A797;
    display: none;
    font-family: 'Fredoka', sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul li a {
    font-family: 'Fredoka', sans-serif;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.5rem;
}

header nav li a:hover {
    color: #F7A797;
    cursor: pointer;
}

@media only screen and (max-width:860px) {

    header {
        position: fixed;
        top: 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    header nav ul{
        float: none;
        padding: 0;
        display: grid;
        grid-template: repeat(3, 1fr) / 1fr 1fr;
        margin: 0;
        justify-items: center;
    }

    header nav li {
        padding: 0.1rem 4rem;
    }

    header h1 {
        display: none !important;
    }

    #small-screen-logo {
        display: grid;
        grid-area: 1 / 1 / span 1 / span 2;
        font-size: 2rem;
    }

    #CV {
        grid-area: 2 / 1 / span 1 / span 1;
    }
    #projects {
        grid-area: 3 / 1 / span 1 / span 1;
    }
    #about {
        grid-area: 2 / 2 / span 1 / span 1;
    }
    #contact {
        grid-area: 3 / 2 / span 1 / span 1;
    }
    /* #feedback {
        grid-area: 1 / 2 / span 1 / span 1;
    } */
}

.landing-page {
    height: 47rem;
    background-image: url('Resources/constellations.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.landing-page-image {
    display: flex;
    justify-content: center;
}

.circle {
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
    background-color: #B7D3E3;
    position: relative;
    z-index: 1;
}

.avatar {
    background: url("Resources/pixel-avatar.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
    position: absolute;
    z-index: 5;
    background-position: 0rem 1rem;
}

h1 {
    color:#3D5774;
    font-family: 'Fredoka', sans-serif;
    font-weight: 800;
    font-size: 3rem;
}

#name {
    color: white;
    letter-spacing: 0.5rem;
    font-size: 4rem;
    padding: 0;
    margin-bottom: 1rem;
    font-weight: 800;
    font-family: 'Mulish', sans-serif;
}

.line-1{
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid white;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 3s steps(45) 1s 1 normal both,
             blinkTextCursor 500ms steps(45) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 25rem;}
}
@keyframes blinkTextCursor{
  from{border-right-color: black;}
  to{border-right-color: transparent;}
}

h2 {
    padding: 0;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1rem;
}

.social-icon-container {
    display: flex;
    justify-content: center;
}

.social-icons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    z-index: 20;
    position:absolute;
}

.social-circle {
    border-radius: 50%;
    background-color:#B7D3E3;
    height: 5rem;
    width: 5rem;
    margin-bottom: 10rem;
    /* position: relative; */
    cursor: pointer;
}

#linkedin {
    background-image: url('Resources/Linkedin-logo.png');
    background-repeat: no-repeat;
    background-size: 6.5rem;
    background-position: center;
    z-index: 3;
}

#email {
    background-image: url('Resources/Email-logo.png');
    background-repeat: no-repeat;
    background-size: 6rem;
    background-position: center;
    z-index: 3;
}

#github {
    background-image: url('Resources/GitHub-logo.png');
    background-repeat: no-repeat;
    background-size: 6.4rem;
    background-position: center;
    z-index: 3;
}

.down-arrow {
    position: absolute;
    top: calc(100vh - 60px);
    left: calc(50% - 14px);
    width: 0;
    height: 30px;
    border-radius: 2px;
  }
  
.down-arrow:after {
    content: " ";
    position: absolute;
    /* top: 10px; */
    left: 0.25rem;
    width: 1rem;
    height: 1rem;
    border-bottom: 0.5rem solid white;
    border-right: 0.5rem solid white;
    border-radius: 0.25rem;
    transform: rotateZ(45deg);
  }
  
@keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }

.down-arrow {
    animation: jumpInfinite 1.5s infinite;
  }

.about-page {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.about-page-left {
    display: flex;
    flex-direction: column;
    margin: 1rem 3rem;
    justify-content: space-around;
    align-items: center;
}

.about-page-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3rem;
    flex-grow: 5;
}

.about-me {
    margin: 2rem;
  }

.about-me-image {
    /* background-color:#B7D3E3; */
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    position: relative;
    background-image: url('Resources/me.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.aboutme-container {
    /* height: 60rem; */
    display: flex;
    min-width: 25rem;
    background-color: #F7A797;
    border-radius: 3rem;
    margin: 0rem;
    text-align: center;
    padding-bottom: 2rem;
    padding: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 50rem;
}

.about-me-text {
    margin: 2rem;
    font-size: 1.25rem;
}

@media only screen and (max-width:860px) {
    .aboutme-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .about-me-text {
        font-size: 1rem;
    }
}


.language-logo-container {
    display: flex;
    padding-top: 2rem;
}

.language-logo {
    width: 5rem;
    height: 5rem;
    margin: 0rem 1rem;
}

#python-icon {
    margin: 1.5rem 0rem 0rem 0rem;
}

.experience-page {
    /* height: 50rem; */
    width: 100%;
}

.experience {
    text-align: center;
}

.experience-big-container {
    display: flex;
}

.experience-container {
    /* height: 60rem; */
    width: 40rem;
    background-color: #3D5774;
    border-radius: 3rem;
    margin: 3rem;
    text-align: center;
    padding-bottom: 2rem;
}

@media only screen and (max-width:860px) {
    .experience-big-container {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.education-title, .work-title {
    margin-top: 2rem;
}

.experience-icon {
    width: 5rem;
    max-height: 5rem;
    margin: 1rem;

}

p {
    text-align: left;
    margin: 1rem;
    margin-top: 2rem;
    color: white;
}

.education, .work {
    display: flex;
}

.certifications-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.certifications-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 80rem;
    min-width: 25rem;
}

.certifications-text {
    font-size: 1.25rem;
}

@media only screen and (max-width:860px) {
    .certifications-container {
        margin: 1rem;
        max-width: 25rem;
    }
    .certifications-text {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        min-width:20rem;
        margin: 0rem 1rem;
        font-size: 1rem;
    }
    .progress-bar {
        max-width: 25rem;
        flex-shrink: 1;
    }
}

.certificate-icon {
    max-height: 16rem;
    margin: 0rem 2rem;
}

.codecademy, .CFG {
    width: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    margin: 1rem;
}

#codecademy-title, #CFG-title, #fullstack-title {
    color: #3D5774;
    text-align: center;
    align-self: flex-start;
    letter-spacing: normal;
    padding: 0;
}

.codecademy ul, .CFG ul {
    color: #3D5774;
}

.CFG ul {
    align-self: flex-start;
}

.fullstack-title {
    color:#3D5774;
}

h3 {
    margin: 1rem;
}

.progress-container {
    display: flex;
    justify-content: center;
}

.progress-bar {
    background-color: lightblue;
    border-radius: 2rem;
    width: 30rem;
}

.progress {
    height: 2rem;
    width: 34%;
    color: white;
    background-color: #F7A797;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-grid {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    gap: 1em;
    margin: 3rem;
    height: 35rem;
}

#project {
    grid-area: 1 / 1 / span 1 / span 1;
    color: #3D5774;
    font-size: 3rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fredoka', sans-serif;
}
#project1 {
    grid-area: 2 / 1 / span 3 / span 1;
    background-color:#F7A797;
}
#project2 {
    grid-area: 1 / 2 / span 2 / span 1;
    background-color:#B7D3E3;
}
#project3 {
    grid-area: 3 / 2 / span 2 / span 1;
    background-color: #FCCFC9;
}
#project4 {
    grid-area: 1 / 3 / span 2 / span 1;
    background-color:#F7A797;
}
#project5 {
    grid-area: 3 / 3 / span 2 / span 1;
    background-color: #3D5774;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Fredoka', sans-serif;
    font-weight: 800;
    border-radius: 2rem;
    font-size: 2rem;
    cursor: pointer;
    -webkit-transform: transform 0.6s;
    transform: rotateY('angle');
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
}

.project-icon {
    margin: 1rem;
    width: 6rem;
    height: 6rem;
    align-self: center;
}

#book-icon {
    width: 7rem;
    height: 7rem;
    margin: 0rem;
}

.website-icon {
    width: 8rem;
    height: 8rem;
    align-self: center;
}

.front {
    height: 100%;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
}

.back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    position: absolute;
    border-radius: 2rem;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.back p, a {
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    margin: 0.5rem 1rem;
    text-decoration: none;
    text-align: center;
}

.back a {
    color:#3D5774;
}

.project.flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

@media only screen and (max-width:860px) {
    .project-grid {
        grid-template: repeat(4, 1fr) / repeat(2, 1fr);
        margin: 2rem;
    }
    #project {
        grid-area: 1 / 1 / span 1 / span 2;
        margin-bottom: 2rem;
    }
    #project1 {
        grid-area: 2 / 1 / span 1 / span 2;
        height: 15rem;
    }
    #project2 {
        grid-area: 3 / 1 / span 1 / span 1;
    }
    #project3 {
        grid-area: 3 / 2 / span 1 / span 1;
    }
    #project4 {
        grid-area: 4 / 1 / span 1 / span 1;
    }
    #project5 {
        grid-area: 4 / 2 / span 1 / span 1;
    }
    .project {
        height: 20rem;
    }
}

.contact-page {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.contact-page h1 {
    margin: 1rem 1rem 0rem 1rem;
}

.contact-page p {
    color:#3D5774;
    margin: 2rem 1rem;
    font-size: 1.25rem;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fullname-input {
    display: flex;
    width: 80%;
    padding: 0rem;
    justify-content: space-between;
}

.name-input, .surname-input {
    width: 49%;
    padding: 0;
    margin-bottom: 1rem;
}

.name-input, .surname-input, .email-input, .message-input, .submit {
    background-color:#FCCFC9;
    border-radius: 2rem;
    padding: 1rem;
    display: flex;
}

input, textarea {
    color: #3D5774;
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
}

.email-input {
    display: flex;
    width: 80%;
    margin: 1rem;
}

#email-input, #message {
    width: 80%;
}

#firstName, #surname {
    width: 60%;
}

.message-input {
    display: flex;
    margin: 1rem 2rem;
    width: 80%;
    margin: 1rem;
}

form label {
    font-family: 'Fredoka', sans-serif;
    color: white;
    font-size: 1.5rem;
    margin: 0rem 1rem;
}

form input, form textarea {
    background-color: #FCCFC9;
    border: white solid 3px;
    border-radius: 2rem;
}

.submit {
    background-color: #3D5774;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.5rem;
    color: white;
    padding: 1rem 4rem;
}

@media only screen and (max-width:860px) {
    .contact-page {
        position: relative;
        top: 30rem;
    }
    .fullname-input {
        flex-wrap: wrap;
        
    }
    .name-input, .surname-input {
        width: 100%;
    }
    #firstName, #surname {
        width: 60%;
    } 
    .contact-page p {
        font-size: 1rem;
    }
}

footer {
    background-color: #3D5774;
    height: 10rem;
    display: flex;
    justify-content: space-around;
}

.footer-left {
    width: 30%
}

/* .footer-middle {
    border: red solid 2px;
    width: 20%
}

.footer-middle p {
    padding: 0rem;
    border: red solid 2px;
    margin-bottom: 1rem;
} */


.footer-right {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    text-align: right;
    width: 70%
}

.footer-nav {
    display: flex;
    justify-content: flex-end;
}

.by-melissa {
    display: flex;
    justify-content: flex-end;
}

a {
    font-family: 'Mulish', sans-serif;
    padding: 0.5rem 1.5rem;
    color: white;
    font-size: 1rem;
}


@media only screen and (max-width:860px) {
    footer {
        position: relative;
        top: 30rem;
    }
    .footer-right {
        text-align: right;
    }
    .footer-nav {
        flex-wrap: wrap;
    }
    .footer-nav a {
        margin: 0;
        padding: 0.2;
    }
}
